# Project is unlicensed currently,
# these files are some sample ones.
LICENSE
NOTICE
# End potential licensing

obj/
models/
pre_hf_added_models/
pseudoev/
.ipynb_checkpoints/
python_scripts/
models-*/
AGBTEST/
Max_z020/
SinTest/
*.mp4
*.tar.xz

.log
elucidation
*.pkl
reruns


nohup.out
test*

modin*
modout*
montage
nucmodin*
nucmodout*
out*
data
plot*
sprocess*
sneplot*
bs

fort.*

texput.log

*.ipynb
*.png
*.zip
output/
PYR_outputs*/
evo_grid*/
*grid/
*Grid/
models-*
nohup.out
.log
z014_output/
*.py
debs.dat
nohup.out
*.py.old
*.grid
.*
!/.gitignore

__pycache__/