# Project is unlicensed currently,
# these files are some sample ones.
LICENSE
NOTICE
# End potential licensing

# Common child directories
.ipynb_checkpoints/
projects/
!dat/*
!modins/*
!src/*
model_library/*

# WIP documentation
docs/

# Build Directory
obj/*

# Common files
nohup.out
*.mp4
*.tar.xz
*.ipynb
*.png
!AotearoaSTARS.png
*.zip
*.py
*.py.old
*.grid
.*
*.tex
!/.gitignore
*.bak*
*.gp

# Special diagnosis files
tokenize

# STARS outputs and inputs
modin*
modout*
montage
nucmodin*
nucmodout*
out*
data*
plot*
sprocess*
sneplot*
RMT
accplot
overflow
timestep
bs

# Jamie's grid tracking files
current_z

# STARS temporary files
fort.*

__pycache__/
